*.cfg
/COPS/.godot/editor/filesystem_update4
/COPS/.godot/editor/create_recent.Node
/COPS/.godot/editor/script_editor_cache.cfg
/COPS/.godot/editor/script_editor_cache.cfg~origin_Baerett
/COPS/.godot/editor/filesystem_cache7
